/*================
    DEFAULT RULES
  ================ */

  $base-size: 4px;

  $main-width: 920px;

  // TEXT
  @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

  $title-font: 'Helvetica Neue', 'Roboto', sans-serif;
  $title-size-h2: $base-size * 5;

  $text-font: 'Roboto', sans-serif;
  $text-size: $base-size * 3;
  $text-color: #888888;
  $text-color-white: #ffffff;

  //GENERAL
  $decoration-color: #707070;

  $background-page-color: #ffffff;


/*============
    NORMALIZE
  ============ */

  html {
    position: relative;
    line-height: 1.2;
    -webkit-text-size-adjust: 100%;
  }

  body {
    margin: 0;
    background-color: $background-page-color;
    font: normal normal $text-size $text-font;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }


  /*======
    SHAPES
  ======== */
  .top-shape,
  .bottom-shape {
    position: absolute;
    width: 100%;
    height: 200px;
    background: $decoration-color;
    z-index: -10;

    &::before {
      position: absolute;
      left: 0;
      content: "";
      width: 100%;
      background-color: $decoration-color;
      transform-origin: bottom left;
    }
  }

  .top-shape {
    top: 0;

    &::before {
      top: 0;
      height: 300px;  
      transform: skewY(3deg);

      @media screen and (max-width: 600px) {
        transform: skewY(10deg);
      }
    }
  }

  .bottom-shape {
    bottom: 0;

    &::before {
      bottom: 0;
      height: 200px;  
      transform: skewY(-3deg);
    }
  }


/*=========
    GENERAL
  ========= */
  main {
    display: block;
    max-width: $main-width;
    margin: 0 auto;

    @media screen and (max-width: 600px) {
      margin: 0 $base-size * 4;
    }
  }

  h2 {
    margin: 0 0 $base-size * 7.5;
    color: $text-color;
    font-size: $title-size-h2;
    font-weight: 500;

    &.title {
      display: block;
      margin: 0 auto $base-size * 12;
      padding-top: $base-size * 7.5;
      border-bottom: 1px solid #aaa;
      text-align: center;
      font-size: $title-size-h2 + 2;
      font-weight: 600;
      line-height: 0;

      span {
        padding: 0 $base-size * 4;
        background-color: $background-page-color;
      }
    }
  }

  input[type="text"] {
    height: $base-size * 7.5;
    margin: 0 0 $base-size * 5;
    padding: 0 $base-size * 2;
    box-sizing: border-box;
    border: 1px solid $decoration-color;
  }

  input[type="radio"] {
    width: $base-size * 3.5;
    height: $base-size * 3.5;
    margin: 0;
  }

  .box-label {
    margin: 0 0 $base-size * 2;
  }

  .inline-label {
    margin: 0 $base-size * 10 0 $base-size;
  }

  button {
    width: 100%;
    max-width: $base-size * 60;
    height: $base-size * 10;
    border: 1px solid $decoration-color;
    border-radius: $base-size;
    background: none;
    line-height: $base-size * 10;
    font-size: $base-size * 4;

    &:hover,
    &:focus {
      background: $decoration-color;
      color: $background-page-color;
    }
  }


  /*======
    HEADER
  ======== */
  header {
    padding: 60px 0 0;
    color: $text-color-white;
    text-align: center;

    @media screen and (max-width: 600px) {
      text-align: left;
    }

    h1, h3, h4 {
      margin: 0;
    }

    h1 {
      font-size: $text-size * 3 + $base-size;
    }

    h3 {
      font-size: $text-size * 2 - 2;
      font-weight: normal;
    }

    h4 {
      margin: 20px 0 0;
      font-size: $text-size + 2;
      font-weight: normal;
    }
  }

  nav {
    margin: 50px 0 15%;
    text-align: center;

    ul {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-evenly;

      li {
        margin: 10px;
      }
    }

    a {
      display: inline-block;
      min-width: 150px;
      height: 40px;
      background: $background-page-color;
      color: $decoration-color;
      border: 1px solid $decoration-color;
      border-radius: $base-size;
      font-size: $text-size + 2;
      line-height: 40px;
      box-sizing: border-box;

      &:hover,
      &:focus {
        background: $decoration-color;
        color: $background-page-color;
        border-color: $background-page-color;
      }
    }
  }


  /*============
    SECTION GRID
  ============== */
  section.grid {
    margin: 0 0 $base-size * 20;

    text-align: center;

    .product-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: $base-size * 10;
      grid-row-gap: $base-size * 10;

      @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;

        article {
          display: flex;
          align-items: center;

          figure, .content {
            flex: 1;
          }
          .content {
            margin-left: $base-size * 5;
          }
        }
      }
    }

    figure {
      margin: 0;

      img {
        width: 100%;
      }
    }

    .content {
      color: $text-color;

      text-align: left;

      & > p {
        margin: $base-size 0;
      }

      .name {
        font-size: $text-size + 2;
      }

      .description {
        max-height: 3 * ($text-size + 4);
        overflow: hidden;

        @media screen and (max-width: 600px) {
          display: none;
        }
      }

      .price {
        font-size: $text-size + 4;
        font-weight: 700;
      }

      button {
        height: $base-size * 7.5;
        line-height: $base-size * 7.5;
      }
    }

    button.show-more {
      margin: $base-size * 12.5 0 0;
    }
  }


  /*============
    SECTION HELP
  ============== */
  section.help {
    display: flex;
    align-items: center;
    margin: 0 0 $base-size * 20;

    .text-content {
      flex: 2;
      min-width: $base-size * 75;
      margin: 0 $base-size * 15 0 0;
    }

    form {
      flex: 1.5;
      display: flex;
      flex-direction: column;

      .input-content {
        display: flex;
        align-items: center;
        margin: 0 0 $base-size * 6
      }

      button {
        max-width: none;
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
      
      .text-content {
        margin: 0;
      }

      form {
        width: 100%;
      }
    }
  }


  /*=============
    SECTION SHARE
  =============== */
  section.share {
    text-align: center;

    form {
      display: flex;
      justify-content: space-evenly;
      margin: 0 0 $base-size * 7.5;

      .input-content {
        width: 37%;
        text-align: left;

        input {
          width: 100%;
        }
      }

      @media screen and (max-width: 600px) {
        flex-direction: column;
        
        .input-content {
          width: 100%;
        }
      }

      .box-label {
        display: block;
      }
    }
  }


  /*======
    FOOTER
  ======== */
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin: 100px 0 0;

    p {
      text-align: center;
      color: #fff;
      line-height: 1.4;  
    }
  }




